<app-header-footer>
  <ion-content>
    <div class="nos-ajude-container">
      <!-- Header da página -->
      <div class="header">
        <div class="circle">
          <img src="assets/images/dog.png" alt="Dog Header" class="header-image" />
        </div>
        <h1>NOS AJUDE</h1>

        <!-- Banner azul -->
        <div class="blue-banner">
          <div class="blue-banner-text">
            Nossa barriguinha está vazia e estamos precisando de banho... Nos ajude doando!
          </div>
        </div>
      </div>

      <!-- Lista de doações -->
      <div class="donations-list">
        <div *ngFor="let donation of donations | slice: 0:visibleDonations" class="donation-card">
          <img [src]="donation.image" [alt]="donation.name" class="donation-image" />
          <h2>{{ donation.name }}</h2>
          <p>{{ donation.description }}</p>
          <p><strong>{{ donation.price }}</strong></p>
        </div>
      </div>

      <!-- Botão de controle -->
      <div class="controls">
        <ion-button expand="block" color="primary" (click)="toggleDonations()">
          {{ showMore ? 'Mostrar Menos' : 'Mais Doações' }}
        </ion-button>
      </div>
    </div>
  </ion-content>
</app-header-footer>
