/* Toolbar */
ion-toolbar {
  --background: #ffffff; /* Fundo branco */
  --ion-color-base: #ffffff;
  --ion-border-color: transparent;
  box-shadow: none !important;
  border: none;
  z-index: 10;
}

/* Header */
ion-header {
  background-color: #ffffff;
  border: none !important;
  box-shadow: none !important;
}

/* Remove bordas padrão */
ion-header::after,
ion-toolbar::after {
  display: none;
}

/* Seção de Destaque */
.highlight-section {
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.blue-circle {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background-color: #0072bf;
  border-radius: 50%;
}

.dog-overlap {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

.highlight-section h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 30px;
}

.highlight-text {
  font-size: 1rem;
  color: #555;
  margin: 10px auto;
  max-width: 80%;
}

/* Cards de Doações */
.donation-cards,
.more-donations {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px auto;
}

.donation-card {
  flex: 1 1 calc(50% - 20px);
  max-width: 180px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.donation-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.donation-card ion-card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.donation-card p {
  font-size: 0.9rem;
  color: #555;
}

/* Botão */
.button-container {
  margin-top: auto; /* Posiciona o botão no final */
  margin-bottom: 20px; /* Espaçamento no final */
  text-align: center;
}

.show-more-button {
  background-color: #0072bf;
  color: #fff;
  font-size: 1rem;
  border-radius: 20px;
  padding: 10px 20px;
}
