<app-header-footer>
  <ion-content class="home-content">
    <div class="landing-container">
      <!-- Seção com azul.png -->
      <div class="blue-section">
        <img src="assets/images/azul.png" alt="Background Azul" class="blue-bg" />
        <div class="content-wrapper">
          <div class="text-content">
            <h1></h1>
          </div>
          <div class="image-content">
            <img src="assets/images/dog-preto.png" alt="Dog Image" class="dog-image" />
          </div>
        </div>
      </div>

      <!-- Texto descritivo -->
      <div class="description">
        <p>
          Quer ajudar a transformar a vida dos animais de rua? Descubra a ONG que
          mais combina com você, participe de suas ações e faça a diferença sendo
          um voluntário. Juntos, podemos oferecer uma nova chance para quem mais
          precisa.
        </p>
      </div>

      <!-- Botão para "Adote com Amor" -->
      <div class="navigate-button">
        <ion-button expand="block" color="primary" routerLink="/adote-com-amor">
          Adote com Amor
        </ion-button>
      </div>
    </div>
  </ion-content>
</app-header-footer>
